In [41]:
import pandas as pd

In [42]:
#---------------------------------------------------
#
# Config *** TO UPDATE ***
#
#---------------------------------------------------

# *** TO UPDATE: change the team number with your own team number
AOIS_DEFINITION_FILE = "raw-data/team2/aoisDefinition.csv"

# This file should be automatically generated from "4. Mapping Fixations and Saccades to AOIs"
FIFXATIONS_SACCADES_WITH_AOIS_FILE = "data/fixationAndSaccadesDataWithAOIs.csv"

In [43]:
#----------------------------------------------------------------------------------------
#
#
# 1. Identify Dwells
# ("a dwell is defined as one visit in an AOI, from entry to exit" Holmqvist et al. 2010, page 262 - See book reference in lecture slides)
# 
#
#----------------------------------------------------------------------------------------

In [44]:
# Read aois definition
aois_df = pd.read_csv(AOIS_DEFINITION_FILE)

In [45]:
# Display aois definition
display(aois_df)

,AOI,p1x,p1y,p2x,p2y
0,Chat,1548.984881,676.457883,1683.110151,737.105832
1,CTA_1,287.041037,443.196544,506.306695,508.509719
2,Date_Place_1,192.570194,846.738661,488.812095,957.537797
3,Date_Place_2,757.062635,87.473002,1045.140389,169.114471
4,Description_1,191.403888,968.034557,584.449244,1042.678186
5,Description_2,757.062635,177.278618,1167.602592,319.568035
6,Fav,1365.874730,675.291577,1524.492441,733.606911
7,Food,155.248380,88.639309,636.933045,435.032397
8,Gen_Info,193.736501,523.671706,495.809935,600.647948
9,Ingredients,757.062635,337.062635,989.157667,669.460043
10,Instructions,755.896328,681.123110,1162.937365,1036.846652
11,Online,1418.358531,895.723542,1641.123110,941.209503
12,Participants_Overview,191.403888,618.142549,598.444924,828.077754
13,Participant_Bio,1321.555076,751.101512,1541.987041,865.399568
14,Participant_Profile_Picture,1292.397408,100.302376,1758.920086,662.462203
15,Place,1482.505400,954.038877,1575.809935,1029.848812
16,Responsabilities,1018.315335,338.228942,1166.436285,670.626350
17,Status,1606.133909,954.038877,1691.274298,1031.015119
18,Verified,1357.710583,952.872570,1453.347732,1029.848812

In [46]:
# get list of AOIs
aois = aois_df["AOI"].tolist()
print(f'AOIs: {aois}')

AOIs: ['Chat', 'CTA_1', 'Date_Place_1', 'Date_Place_2', 'Description_1', 'Description_2', 'Fav', 'Food', 'Gen_Info', 'Ingredients', 'Instructions', 'Online', 'Participants_Overview', 'Participant_Bio', 'Participant_Profile_Picture', 'Place', 'Responsabilities', 'Status', 'Verified']

In [47]:
# Read fixation and saccade data with AOIs using pandas library
data = pd.read_csv(FIFXATIONS_SACCADES_WITH_AOIS_FILE)
# set display.max_columns to none, to show all the columns when using head()
pd.set_option('display.max_columns', None)

In [48]:
# Preview fixation and saccade data with aois
data.head()

,Respondent,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,SacID,Saccade Start,Saccade End,Saccade Duration,Saccade Amplitude,Saccade Peak Velocity,Saccade Peak Acceleration,Saccade Peak Deceleration,Saccade Direction,Chat,CTA_1,Date_Place_1,Date_Place_2,Description_1,Description_2,Fav,Food,Gen_Info,Ingredients,Instructions,Online,Participants_Overview,Participant_Bio,Participant_Profile_Picture,Place,Responsabilities,Status,Verified,Timestamp
0,P01,1.0,1077.5797,563.1233,117.4537,375.7792,258.3255,0.2166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,121.6164
1,P01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,375.7792,425.7842,50.0049,8.8868,376.8909,26154.9998,-9617.3871,176.8765,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,379.9404
2,P01,2.0,700.4548,575.5617,425.7842,684.0645,258.2803,0.2423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,429.9775
3,P01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,684.0645,742.4064,58.3419,9.6742,332.0348,15385.1971,-13523.0755,193.0643,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,688.2443
4,P01,3.0,301.9617,505.5936,742.4064,867.3737,124.9673,0.3881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,746.5427

In [49]:
# Derive dwells

In [50]:
dwells = pd.DataFrame()

# Iterate through the different aois
for aoi in aois:
    
    #  Group by consecutive same value (CSAV) and Respondent (i.e., participant)
    # documentation for the aprroach used to group columns by consecutive same value https://towardsdatascience.com/pandas-dataframe-group-by-consecutive-same-values-128913875dba
    csavGroups = data.groupby([(data[aoi].shift() != data[aoi]).cumsum(),'Respondent'])
    
    # Keep only groups where the AOI is activited (aoiName==1) 
    csavGroups = {key: value for key, value in csavGroups if value[aoi].unique()==[1]}
    
    # compute a set of metrics for each dwell (i.e., a group where the AOI is activiated)     
    for key in csavGroups:
        group = csavGroups[key]
                
        dwells = pd.concat([dwells, pd.DataFrame.from_records([{
            # Participant (i.e., Respondent)
            'Respondent': group.iloc[0]['Respondent'], #The respondent should be the same within the whole group
            # The aoi visited during the dwell
            'VisitedAOI': aoi,
            # Timestamp when the aoi was entered
            'Dwell Start': group.iloc[0]['Fixation Start'] if not pd.isnull(group.iloc[0]['Fixation Start']) else group.iloc[0]['Saccade Start'],
            # Timestamp when the aoi was exited
            'Dwell End' : group.iloc[-1]['Fixation End'] if not pd.isnull(group.iloc[-1]['Fixation End']) else group.iloc[-1]['Saccade End'] ,
            # Number of Fixations in Dwell (Numerosity measure, cf. documentation/ETmetrics.csv)
            'Number of Fixations in Dwell': group[ (group['FixID'].notnull()) ].shape[0],
            # Number of Saccades in Dwell (Numerosity measure, cf. documentation/ETmetrics.csv)
            'Number of Saccades in Dwell': group[ (group['SacID'].notnull()) ].shape[0]
        }])])

In [51]:
# Dwell time (Position measure, cf. documentation/ETmetrics.csv)
dwells['Dwell Time'] = dwells['Dwell End']-dwells['Dwell Start']

In [52]:
#Sort dwells by 'Respondent', Dwell Start' in an ascending order
dwells = dwells.sort_values(by=['Respondent','Dwell Start'])

#Reset index
dwells = dwells.reset_index(drop=True)

In [53]:
#Preview dwells
dwells.head()

,Respondent,VisitedAOI,Dwell Start,Dwell End,Number of Fixations in Dwell,Number of Saccades in Dwell,Dwell Time
0,P01,Responsabilities,117.4537,375.7792,1,0,258.3255
1,P01,CTA_1,742.4064,1100.6684,2,4,358.2620
2,P01,Food,1200.7011,1567.3256,1,1,366.6245
3,P01,Food,1783.9405,2333.8938,2,4,549.9533
4,P01,Food,3658.7234,3867.0633,1,1,208.3399

In [54]:
# export dwells to csv
dwells.to_csv("data/dwells.csv",  index=False)