In [68]:
import pandas as pd

In [69]:
# A list containing the AOIs considered in the study
AOIS = ['Paragraph1', 'Paragraph2', 'Paragraph3', 'Paragraph4',
       'Paragraph5', 'Paragraph6', 'Text_Area', 'SubFigure1', 'SubFigure2',
       'SubFigure3', 'Figure', 'Formula']

In [70]:
# Read gaze data with events and AOIs using pandas library
data = pd.read_csv("data/gazeDataWithAOIsAndEvents.csv")
# set display.max_columns to none, to show all the columns when using head()
pd.set_option('display.max_columns', None)

In [73]:
# Preview data
data.head()

,Row,Timestamp,SourceStimuliName,EventSource.1,ET_TimeSignal,ET_CameraLeftX,ET_CameraLeftY,ET_CameraRightX,ET_CameraRightY,ET_ValidityLeft,ET_ValidityRight,GazeX,GazeY,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula,InterpolatedGazeX,InterpolatedGazeY,InterpolatedDistance,GazeVelocityAngle,FixID,Fixation Index by Stimulus,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,ET_PupilLeft,GazeAccelerationAngle,ET_PupilRight,SacID,Saccade Index by Stimulus,Saccade Start,Saccade End,Saccade Duration,Saccade Amplitude,Saccade Peak Velocity,Saccade Peak Acceleration,Saccade Peak Deceleration,Saccade Direction
0,2,128.9448,img,1,141.658,0.5989,0.5257,0.4298,0.5191,0,0,960.5,494.5,0,0,0,1,0,0,1,0,0,0,0,0,960.5,494.5,567.9688,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,137.2724,img,1,149.984,0.5991,0.5255,0.4300,0.5190,0,0,952.0,509.5,0,0,0,1,0,0,1,0,0,0,0,0,952.0,500.0,567.9048,16.1935,1.0,NaN,952.8727,495.6481,133.1086,358.082,224.9734,0.2948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,145.6203,img,1,158.333,0.5990,0.5253,NaN,NaN,0,4,938.0,500.0,0,0,0,1,0,0,1,0,0,0,0,0,948.0,500.0,566.2654,4.7572,1.0,NaN,952.8727,495.6481,133.1086,358.082,224.9734,0.2948,2.6143,-1369.9611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,153.9470,img,1,166.660,0.5989,0.5252,0.4299,0.5187,0,0,948.0,499.0,0,0,0,1,0,0,1,0,0,0,0,0,948.0,500.0,567.7859,27.6866,1.0,NaN,952.8727,495.6481,133.1086,358.082,224.9734,0.2948,NaN,2753.7102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,162.2703,img,1,174.983,0.5991,0.5251,0.4301,0.5187,0,0,969.5,515.0,0,0,0,1,0,0,1,0,0,0,0,0,969.5,509.0,567.7856,27.6456,1.0,NaN,952.8727,495.6481,133.1086,358.082,224.9734,0.2948,NaN,-4.9222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [113]:
# Drop gazes with GazeX or GazeY equal to NaN. This because these gazes are not mapped to any AOI
data = data.dropna(subset=['GazeX','GazeY'])

# Derive a dataframe with fixation data only

# Keep only relevant colomns
fixationData = data[['FixID', 'Fixation X', 'Fixation Y',
       'Fixation Start', 'Fixation End', 'Fixation Duration',
       'Fixation Dispersion']+AOIS].copy(deep=True)

# Map fixations to AOIs
"""
Goal: 
- Map fixations to AOIs
Context: 
- A fixation comprises several gazes.
- Following the NoteBook "1. Gaze Projections and AOIs Mapping", each gaze point is mapped to an AOI.
Problem: 
- Gazes belonging to the same fixation might not necessarily be mapped to the same AOI.
Solution: 
- When mapping fixations to AOIs, choose the AOI which is mapped to the majority of the gazes composing the fixation
"""                                
fixationData = fixationData.groupby(['FixID', 'Fixation X', 'Fixation Y',
       'Fixation Start', 'Fixation End', 'Fixation Duration',
       'Fixation Dispersion']).agg({aoi: (lambda x: pd.Series.mode(x)[0]) for aoi in AOIS }) 


# Flatten fixationData (i.e., a hierarchically indexed pandas.DataFrame)
fixationData.columns= [x for x in list(fixationData.columns.get_level_values(0))]
fixationData = fixationData.reset_index()

In [168]:
# Preview fixation data
fixationData.head()

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
0,1.0,952.8727,495.6481,133.1086,358.0820,224.9734,0.2948,0,0,0,1,0,0,1,0,0,0,0,0
1,2.0,460.2509,170.6456,566.4076,708.1011,141.6935,0.1180,1,0,0,0,0,0,1,0,0,0,0,0
2,3.0,214.1108,166.5022,783.0360,891.3651,108.3291,0.1850,0,0,0,0,0,0,0,0,0,0,0,0
3,4.0,210.4464,198.8214,908.0385,1141.3419,233.3034,0.2571,1,0,0,0,0,0,1,0,0,0,0,0
4,5.0,289.7661,190.3990,1182.9961,1349.6581,166.6620,0.1125,1,0,0,0,0,0,1,0,0,0,0,0

In [169]:
# 1. AOI fixation measures

In [185]:
allStats = None

# Metrics for all AOIs aggregated

# Fixation duration aggregations
stats = fixationData.agg({'Fixation Duration':['sum','mean','max','min'], 'FixID':['count']}).unstack().to_frame().dropna().T

# edit stats formatting (by flattening it) to enable concating with the upcoming mesures
stats.columns = ['_'.join(x) for x in list(zip(stats.columns.get_level_values(0), stats.columns.get_level_values(1)))]

stats.insert(0, 'AOI', "All_AOIs")

allStats= stats

In [186]:
# Preview the metrics for all AOIs aggregated
display(allStats)

,AOI,Fixation Duration_max,Fixation Duration_mean,Fixation Duration_min,Fixation Duration_sum,FixID_count
0,All_AOIs,1249.8835,211.938128,66.5842,121652.4855,574.0

In [187]:
# Metrics for individual AOIs

# Iterate through the different AOIS
for aoi in AOIS:
    # For each AOI compute 'sum','mean','max','min' of 'Fixation Duration' 
    stats = fixationData[fixationData[aoi]==1].groupby(aoi).agg({'Fixation Duration':['sum','mean','max','min'],'FixID':['count']})
    
    # Flatten dataframe
    stats.columns= ['_'.join(x) for x in list(zip(stats.columns.get_level_values(0), stats.columns.get_level_values(1)))]
    
    # rename column aoi to "AOI" and set its value to aoi     
    stats.rename(columns={aoi:"AOI"}, inplace=True)
    stats["AOI"] = aoi
    
    #concate
    allStats = pd.concat([allStats, stats], axis=0)
    
# reset_index for allStats
allStats = allStats.reset_index(drop=True)

In [188]:
# Preview all stats
allStats

,AOI,Fixation Duration_max,Fixation Duration_mean,Fixation Duration_min,Fixation Duration_sum,FixID_count
0,All_AOIs,1249.8835,211.938128,66.5842,121652.4855,574.0
1,Paragraph1,574.8980,234.164400,66.6901,15923.1792,68.0
2,Paragraph2,183.3260,140.460357,66.6589,983.2225,7.0
3,Paragraph3,449.9495,253.757464,83.3021,5582.6642,22.0
4,Paragraph4,441.6774,155.939343,66.6725,1091.5754,7.0
5,Paragraph5,983.2385,176.806554,66.6587,7249.0687,41.0
6,Paragraph6,416.6124,161.567709,66.6328,3716.0573,23.0
7,Text_Area,983.2385,203.608859,66.6328,35020.7237,172.0
8,SubFigure1,916.5141,216.204068,66.6282,16647.7132,77.0
9,SubFigure2,1124.8921,215.932089,66.6423,32821.6776,152.0
10,SubFigure3,1249.8835,197.166020,66.6352,16956.2777,86.0
11,Figure,1249.8835,211.761606,66.6282,67975.4754,321.0
12,Formula,1199.8863,239.500495,66.5842,17723.0366,74.0

In [ ]:
# 2. AOI visit measures

In [87]:
# documentation for the aprroach used to group columns by consecutive same value https://towardsdatascience.com/pandas-dataframe-group-by-consecutive-same-values-128913875dba

allStats = None

# Iterate through the different AOIS
for aoi in AOIS:
    
    #  Group by consecutive same value (CSAV) (see "exmaple of CSAV" for groups derived using AOI "Text_Area")
    csavGroups = fixationData.groupby((fixationData[aoi].shift() != fixationData[aoi]).cumsum())
    
    # Keep only groups where the AOI is activited (aoiName==1) 
    csavGroups = {k: v for k, v in groups if v[aoi].unique()==[1]}
    
    
    
    #  Compute visit aggregations
    #aggregations = groups.agg({'Fixation Duration':['sum','mean','max','min']})
    
#     for key in groups:
#         display(groups[key])

In [189]:
# "exmaple of CSAV" for groups derived using AOI "Text_Area"
for k, v in fixationData.groupby((fixationData['Text_Area'].shift() != fixationData['Text_Area']).cumsum()):
    print(f'[group {k}]')
    display(v)

[group 1]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
0,1.0,952.8727,495.6481,133.1086,358.0820,224.9734,0.2948,0,0,0,1,0,0,1,0,0,0,0,0
1,2.0,460.2509,170.6456,566.4076,708.1011,141.6935,0.1180,1,0,0,0,0,0,1,0,0,0,0,0

[group 2]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
2,3.0,214.1108,166.5022,783.036,891.3651,108.3291,0.185,0,0,0,0,0,0,0,0,0,0,0,0

[group 3]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
3,4.0,210.4464,198.8214,908.0385,1141.3419,233.3034,0.2571,1,0,0,0,0,0,1,0,0,0,0,0
4,5.0,289.7661,190.3990,1182.9961,1349.6581,166.6620,0.1125,1,0,0,0,0,0,1,0,0,0,0,0
5,6.0,394.2505,174.3449,1407.9906,1566.3332,158.3426,0.2310,1,0,0,0,0,0,1,0,0,0,0,0
6,7.0,295.6923,193.4231,1658.0043,1766.2772,108.2729,0.1691,1,0,0,0,0,0,1,0,0,0,0,0
7,8.0,397.1248,188.4718,1807.9277,2107.9248,299.9971,0.2116,1,0,0,0,0,0,1,0,0,0,0,0
8,9.0,468.4133,190.4615,2149.5662,2541.1908,391.6247,0.3129,1,0,0,0,0,0,1,0,0,0,0,0
9,10.0,425.0494,194.6464,2557.8607,2832.8089,274.9482,0.2019,1,0,0,0,0,0,1,0,0,0,0,0
10,11.0,472.2440,194.5291,2874.4862,3032.7945,158.3083,0.3250,1,0,0,0,0,0,1,0,0,0,0,0
11,12.0,409.9992,185.5368,3074.4571,3224.4373,149.9802,0.2724,1,0,0,0,0,0,1,0,0,0,0,0
12,13.0,378.7143,192.7857,3291.1100,3432.7467,141.6367,0.1603,1,0,0,0,0,0,1,0,0,0,0,0
13,14.0,465.0475,191.7015,3482.7850,3682.7301,199.9450,0.1911,1,0,0,0,0,0,1,0,0,0,0,0
14,15.0,511.2007,182.0001,3716.0764,3857.7348,141.6584,0.1226,1,0,0,0,0,0,1,0,0,0,0,0
15,16.0,185.2177,237.4442,3907.6912,4341.0048,433.3136,0.2502,1,0,0,0,0,0,1,0,0,0,0,0
16,17.0,242.2052,235.6605,4357.6885,4707.6317,349.9431,0.2302,1,0,0,0,0,0,1,0,0,0,0,0
17,18.0,215.1445,214.5720,4724.3006,4807.6131,83.3125,0.0595,1,0,0,0,0,0,1,0,0,0,0,0
18,19.0,259.9394,229.5758,4832.6158,5107.5580,274.9423,0.4491,1,0,0,0,0,0,1,0,0,0,0,0
19,20.0,322.1250,219.2500,5124.2192,5390.8584,266.6392,0.1297,1,0,0,0,0,0,1,0,0,0,0,0
20,21.0,415.9271,207.3848,5407.5228,5690.8259,283.3031,0.2168,1,0,0,0,0,0,1,0,0,0,0,0
21,22.0,454.4401,200.4508,5707.4889,5874.1380,166.6490,0.2113,1,0,0,0,0,0,1,0,0,0,0,0
22,23.0,165.4802,239.2857,5949.1395,6440.7450,491.6056,0.3243,1,0,0,0,0,0,1,0,0,0,0,0
23,24.0,469.0903,190.7660,6790.7405,6932.3649,141.6245,0.2415,1,0,0,0,0,0,1,0,0,0,0,0

[group 4]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
24,25.0,1299.4002,337.5022,7140.6949,7207.3326,66.6376,0.1013,0,0,0,0,0,0,0,0,0,0,0,0
25,26.0,1302.3889,203.9444,7282.3214,7357.3183,74.9969,0.0845,0,0,0,0,0,0,0,0,0,0,0,1

[group 5]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
26,27.0,416.5055,208.1752,7440.6303,7715.6331,275.0028,0.2851,1,0,0,0,0,0,1,0,0,0,0,0
27,28.0,451.3989,220.1492,7765.5958,7890.5845,124.9888,0.1446,1,0,0,0,0,0,1,0,0,0,0,0
28,29.0,339.7863,223.9284,7915.5774,8132.2298,216.6524,0.2239,1,0,0,0,0,0,1,0,0,0,0,0
29,30.0,257.1589,242.2059,8182.2308,8382.2026,199.9718,0.1741,1,0,0,0,0,0,1,0,0,0,0,0
30,31.0,216.3519,250.3704,8423.8690,8648.8309,224.9619,0.1325,1,0,0,0,0,0,1,0,0,0,0,0
31,32.0,280.5199,243.5753,8673.8276,8907.1793,233.3516,0.2187,1,0,0,0,0,0,1,0,0,0,0,0
32,33.0,340.6923,249.3205,8932.1311,9265.4259,333.2948,0.1938,1,0,0,0,0,0,1,0,0,0,0,0
33,34.0,398.7449,238.0627,9282.1058,9598.7297,316.6239,0.2224,1,0,0,0,0,0,1,0,0,0,0,0
34,35.0,451.5007,235.7185,9640.3965,9798.7303,158.3338,0.1811,1,0,0,0,0,0,1,0,0,0,0,0
35,36.0,488.7917,229.7500,9840.3716,9940.3662,99.9946,0.1443,1,0,0,0,0,0,1,0,0,0,0,0
36,37.0,115.2353,269.3529,9998.7110,10140.3434,141.6324,0.1905,1,0,0,0,0,0,1,0,0,0,0,0
37,38.0,190.5924,274.1747,10173.6777,10398.6334,224.9557,0.2758,1,0,0,0,0,0,1,0,0,0,0,0
38,39.0,252.2700,274.6675,10457.0192,11031.9171,574.8980,0.3707,1,0,0,0,0,0,1,0,0,0,0,0
39,40.0,302.2931,258.8448,11048.6125,11290.2024,241.5899,0.2192,1,0,0,0,0,0,1,0,0,0,0,0
40,41.0,351.2158,265.8791,11331.9051,11631.8691,299.9640,0.1780,1,0,0,0,0,0,1,0,0,0,0,0
41,42.0,401.4067,264.8151,11681.8634,11890.1518,208.2884,0.2245,1,0,0,0,0,0,1,0,0,0,0,0
42,43.0,494.6153,244.3677,11923.4974,12140.1501,216.6526,0.2049,1,0,0,0,0,0,1,0,0,0,0,0
43,44.0,465.3596,261.0024,12165.1201,12306.7579,141.6378,0.2453,1,0,0,0,0,0,1,0,0,0,0,0
44,45.0,179.7109,292.0644,12381.7474,12765.0370,383.2896,0.2215,1,0,0,0,0,0,1,0,0,0,0,0
45,46.0,456.3979,273.0808,12815.0427,13181.6762,366.6335,0.2322,1,0,0,0,0,0,1,0,0,0,0,0
46,47.0,204.0013,308.3889,13406.6328,13523.2887,116.6559,0.1173,1,0,0,0,0,0,1,0,0,0,0,0
47,48.0,280.8428,290.9007,13548.3321,14073.2283,524.8962,0.3155,1,0,0,0,0,0,1,0,0,0,0,0
48,49.0,337.9545,286.4697,14106.5588,14381.5271,274.9684,0.1917,1,0,0,0,0,0,1,0,0,0,0,0
49,50.0,405.3134,283.2560,14398.1927,14956.4766,558.2839,0.2273,1,0,0,0,0,0,1,0,0,0,0,0
50,51.0,328.1672,287.2331,14981.4676,15373.0860,391.6184,0.2432,1,0,0,0,0,0,1,0,0,0,0,0
51,52.0,368.9971,289.4007,15489.7447,15556.4348,66.6901,0.1374,1,0,0,0,0,0,1,0,0,0,0,0
52,53.0,423.9420,278.2905,15639.7439,15889.6897,249.9458,0.2352,1,0,0,0,0,0,1,0,0,0,0,0
53,54.0,472.2636,279.2634,15898.0408,16264.6790,366.6383,0.1703,1,0,0,0,0,0,1,0,0,0,0,0
54,55.0,176.5580,318.5513,16306.3396,16681.3359,374.9963,0.1777,1,0,0,0,0,0,1,0,0,0,0,0
55,56.0,176.1467,432.2564,16722.9502,17039.5643,316.6141,0.2969,0,0,1,0,0,0,1,0,0,0,0,0
56,57.0,270.0199,423.3800,17072.8940,17289.5379,216.6438,0.1675,0,0,1,0,0,0,1,0,0,0,0,0
57,58.0,353.8532,399.0583,17314.5327,17581.1688,266.6361,0.2799,0,0,1,0,0,0,1,0,0,0,0,0
58,59.0,456.5620,403.6882,17622.8324,17931.1306,308.2982,0.2836,0,0,1,0,0,0,1,0,0,0,0,0
59,60.0,181.0487,448.5266,18039.4529,18464.4104,424.9575,0.3136,0,0,1,0,0,0,1,0,0,0,0,0
60,61.0,452.4714,400.9298,18531.0670,18822.7558,291.6888,0.2487,0,0,1,0,0,0,1,0,0,0,0,0
61,62.0,153.1672,449.9537,18856.0314,19089.3490,233.3176,0.2242,0,0,1,0,0,0,1,0,0,0,0,0
62,63.0,223.6694,441.2051,19122.6718,19472.6336,349.9618,0.1971,0,0,1,0,0,0,1,0,0,0,0,0
63,64.0,311.1758,439.5364,19489.3630,19814.2575,324.8945,0.2244,0,0,1,0,0,0,1,0,0,0,0,0
64,65.0,228.8462,438.1154,19864.2517,19972.5707,108.3190,0.1541,0,0,1,0,0,0,1,0,0,0,0,0
65,66.0,190.7835,436.4509,20030.9055,20289.2039,258.2984,0.2320,0,0,1,0,0,0,1,0,0,0,0,0
66,67.0,296.5503,445.2478,20314.2019,20539.1820,224.9801,0.3348,0,0,1,0,0,0,1,0,0,0,0,0
67,68.0,347.4883,438.4826,20555.8846,20855.8201,299.9355,0.2439,0,0,1,0,0,0,1,0,0,0,0,0
68,69.0,219.5355,426.4550,20964.1315,21414.0809,449.9495,0.2043,0,0,1,0,0,0,1,0,0,0,0,0
69,70.0,301.6147,420.2950,21472.4104,21764.0429,291.6325,0.2132,0,0,1,0,0,0,1,0,0,0,0,0
70,71.0,179.1924,417.9084,21805.7102,21997.4023,191.6921,0.3297,0,0,1,0,0,0,1,0,0,0,0,0
71,72.0,192.5287,202.3821,22055.6743,22288.9826,233.3083,0.1995,1,0,0,0,0,0,1,0,0,0,0,0

[group 6]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
72,73.0,650.4591,162.4434,22339.0389,22547.302,208.2631,0.2356,0,0,0,0,0,0,0,0,0,0,0,0

[group 7]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
73,74.0,124.8998,415.6493,22655.6292,22763.9342,108.3049,0.1264,0,0,1,0,0,0,1,0,0,0,0,0
74,75.0,153.6022,434.7067,22772.2600,22888.9322,116.6721,0.1913,0,0,1,0,0,0,1,0,0,0,0,0
75,76.0,151.0001,200.0476,22922.2660,23138.9011,216.6350,0.1415,1,0,0,0,0,0,1,0,0,0,0,0

[group 8]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
76,77.0,633.4134,162.7799,23222.2145,23438.8858,216.6712,0.1786,0,0,0,0,0,0,0,0,0,0,0,0

[group 9]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
77,78.0,733.9249,177.2139,23497.1891,23638.8505,141.6615,0.2213,0,1,0,0,0,0,1,0,0,0,0,0

[group 10]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
78,79.0,808.5556,164.3056,23655.5055,23805.4938,149.9883,0.1820,0,0,0,0,0,0,0,0,0,0,0,0
79,80.0,685.0504,160.8003,23872.1652,23988.8121,116.6469,0.1937,0,0,0,0,0,0,0,0,0,0,0,0

[group 11]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
80,81.0,340.8812,199.6190,24113.7914,24313.8189,200.0275,0.2092,1,0,0,0,0,0,1,0,0,0,0,0
81,82.0,366.0742,192.0007,24338.8001,24580.4081,241.6080,0.2032,1,0,0,0,0,0,1,0,0,0,0,0
82,83.0,433.3493,190.7486,24813.7038,24947.0199,133.3160,0.1971,1,0,0,0,0,0,1,0,0,0,0,0
83,84.0,493.0946,182.7989,24997.0186,25180.3357,183.3171,0.2028,1,0,0,0,0,0,1,0,0,0,0,0
84,85.0,364.4169,181.7707,25238.6917,25480.2922,241.6005,0.1137,1,0,0,0,0,0,1,0,0,0,0,0
85,86.0,406.2083,191.4167,25505.3123,25655.2905,149.9783,0.2432,1,0,0,0,0,0,1,0,0,0,0,0
86,87.0,190.0718,243.5055,26280.2089,26413.5635,133.3546,0.1808,1,0,0,0,0,0,1,0,0,0,0,0
87,88.0,214.8197,193.9161,27413.4223,27571.7399,158.3177,0.1813,1,0,0,0,0,0,1,0,0,0,0,0
88,89.0,156.2727,222.6843,39687.0651,39978.6943,291.6292,0.2277,1,0,0,0,0,0,1,0,0,0,0,0
89,90.0,312.3331,198.3324,41078.5666,41153.5817,75.0152,0.2086,1,0,0,0,0,0,1,0,0,0,0,0

[group 12]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
90,91.0,1295.9265,187.6424,167297.9227,167381.2351,83.3124,0.2783,0,0,0,0,0,0,0,0,0,0,0,1
91,92.0,1373.7162,196.1449,167464.5604,167547.8993,83.3389,0.2105,0,0,0,0,0,0,0,0,0,0,0,1
92,93.0,1586.9988,196.9998,167814.5335,167914.5241,99.9905,0.2432,0,0,0,0,0,0,0,0,0,0,0,1
93,94.0,1674.1364,211.7273,167972.8562,168064.5070,91.6508,0.2256,0,0,0,0,0,0,0,0,0,0,0,1
94,95.0,1460.8334,232.2340,172344.2742,172502.5861,158.3120,0.1978,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,191.0,1529.7489,632.7340,212948.1116,213231.4298,283.3182,0.4938,0,0,0,0,0,0,0,0,1,0,1,0
191,192.0,1514.3044,698.8982,214956.2485,215022.8908,66.6423,0.2003,0,0,0,0,0,0,0,0,1,0,1,0
192,193.0,1563.8972,685.6144,215281.1885,215497.8387,216.6503,0.2291,0,0,0,0,0,0,0,0,1,0,1,0
193,194.0,1507.4166,704.3334,216797.6789,216872.6701,74.9912,0.1426,0,0,0,0,0,0,0,0,1,0,1,0
194,195.0,1503.7147,663.2609,219430.7801,219630.7708,199.9907,0.3388,0,0,0,0,0,0,0,0,1,0,1,0

[group 13]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
195,196.0,825.2012,466.2942,220113.9983,220205.6868,91.6885,0.0830,0,0,0,1,0,0,1,0,0,0,0,0
196,197.0,660.7505,425.7469,220338.9537,220405.6262,66.6725,0.0866,0,0,0,1,0,0,1,0,0,0,0,0
197,198.0,738.0604,410.6221,224471.8617,224563.4853,91.6236,0.2024,0,0,0,1,0,0,1,0,0,0,0,0
198,199.0,215.2498,444.5000,227288.1823,227371.5069,83.3246,0.1819,0,0,1,0,0,0,1,0,0,0,0,0
199,200.0,214.0002,250.9992,234445.7579,234520.7226,74.9647,0.1301,1,0,0,0,0,0,1,0,0,0,0,0
200,201.0,214.1999,615.4487,256443.3204,256543.2998,99.9794,0.2367,0,0,0,0,1,0,1,0,0,0,0,0

[group 14]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
201,202.0,1661.2640,399.9994,269325.2405,269475.1842,149.9437,0.3385,0,0,0,0,0,0,0,0,0,1,1,0
202,203.0,1716.5000,392.7500,269591.8500,269658.5423,66.6923,0.1573,0,0,0,0,0,0,0,0,0,1,1,0
203,204.0,1676.8335,454.3992,269891.8239,270041.7904,149.9665,0.1888,0,0,0,0,0,0,0,0,0,1,1,0

[group 15]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
204,205.0,153.0584,616.8309,271874.9314,272183.2293,308.2979,0.2887,0,0,0,0,1,0,1,0,0,0,0,0
205,206.0,408.1057,591.3922,272283.2658,272408.2119,124.9460,0.2945,0,0,0,0,1,0,1,0,0,0,0,0
206,207.0,431.9983,568.3332,272483.2037,272591.5248,108.3211,0.2941,0,0,0,0,0,0,1,0,0,0,0,0
207,208.0,173.5377,611.8552,272683.1941,272874.8488,191.6547,0.2071,0,0,0,0,1,0,1,0,0,0,0,0
208,209.0,393.9781,588.3703,273158.1606,273349.7963,191.6357,0.2054,0,0,0,0,1,0,1,0,0,0,0,0

[group 16]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
209,210.0,1419.4935,429.7036,274316.3198,274391.3077,74.9879,0.0948,0,0,0,0,0,0,0,0,1,0,1,0
210,211.0,1469.6868,534.0012,284165.3085,284265.2264,99.9178,0.1153,0,0,0,0,0,0,0,0,1,0,1,0
211,212.0,1520.3497,647.5289,289622.9744,289931.2755,308.3011,0.3767,0,0,0,0,0,0,0,0,1,0,1,0
212,213.0,1506.9297,612.1876,290039.6174,290231.2220,191.6046,0.2672,0,0,0,0,0,0,0,0,1,0,1,0
213,214.0,1486.1292,579.7106,290239.5555,290564.5395,324.9840,0.2029,0,0,0,0,0,0,0,0,1,0,1,0

[group 17]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
214,215.0,441.1206,598.0982,291464.4600,291672.7680,208.3079,0.1587,0,0,0,0,1,0,1,0,0,0,0,0
215,216.0,215.4642,630.8449,291764.4041,291931.0347,166.6306,0.1282,0,0,0,0,1,0,1,0,0,0,0,0
216,217.0,285.6875,619.7500,292006.0461,292072.7048,66.6587,0.1010,0,0,0,0,1,0,1,0,0,0,0,0
217,218.0,313.8001,625.6001,292089.3510,292206.0224,116.6714,0.1517,0,0,0,0,1,0,1,0,0,0,0,0
218,219.0,399.7107,616.7407,292256.0376,292655.9561,399.9186,0.3234,0,0,0,0,1,0,1,0,0,0,0,0

[group 18]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
219,220.0,1439.8333,443.4333,292755.9596,292914.2745,158.3149,0.1225,0,0,0,0,0,0,0,0,1,0,1,0
220,221.0,1474.5777,442.4447,293089.2513,293414.2068,324.9555,0.3269,0,0,0,0,0,0,0,0,1,0,1,0
221,222.0,1497.1725,437.9790,293839.1802,294039.1370,199.9568,0.2641,0,0,0,0,0,0,0,0,1,0,1,0
222,223.0,1490.0417,445.5417,294114.1694,294214.1608,99.9913,0.2010,0,0,0,0,0,0,0,0,1,0,1,0
223,224.0,1490.8750,442.5749,294547.4143,294939.0426,391.6282,0.2048,0,0,0,0,0,0,0,0,1,0,1,0
224,225.0,1497.1562,492.6378,295355.6549,295572.3008,216.6459,0.1850,0,0,0,0,0,0,0,0,1,0,1,0
225,226.0,1468.1000,493.7500,295680.6206,295763.9975,83.3769,0.1640,0,0,0,0,0,0,0,0,1,0,1,0
226,227.0,1479.3569,493.6240,295888.9358,295997.2842,108.3484,0.1996,0,0,0,0,0,0,0,0,1,0,1,0

[group 19]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
227,228.0,252.8328,683.6659,299813.5443,299888.5075,74.9631,0.1561,0,0,0,0,1,0,1,0,0,0,0,0

[group 20]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
228,229.0,1483.9952,531.1500,301563.3226,301779.9485,216.6259,0.2862,0,0,0,0,0,0,0,0,1,0,1,0
229,230.0,1500.6483,569.8909,301813.2764,301921.7029,108.4266,0.2875,0,0,0,0,0,0,0,0,1,0,1,0

[group 21]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
230,231.0,353.9999,685.0003,305296.2369,305412.9010,116.6641,0.1720,0,0,0,0,1,0,1,0,0,0,0,0
231,232.0,436.4292,637.0546,305462.8935,305687.8654,224.9719,0.2120,0,0,0,0,1,0,1,0,0,0,0,0
232,233.0,154.0778,669.4997,306137.8337,306212.7899,74.9562,0.1991,0,0,0,0,1,0,1,0,0,0,0,0
233,234.0,249.8154,675.0625,306396.1258,306487.8134,91.6876,0.1221,0,0,0,0,1,0,1,0,0,0,0,0
234,235.0,256.7114,647.7133,306737.7424,306821.0874,83.3451,0.2548,0,0,0,0,1,0,1,0,0,0,0,0
235,236.0,193.4216,650.5773,307412.6638,307654.3124,241.6486,0.2170,0,0,0,0,1,0,1,0,0,0,0,0
236,237.0,192.2086,684.8751,309437.4470,309562.4195,124.9726,0.1134,0,0,0,0,1,0,1,0,0,0,0,0
237,238.0,156.8944,677.2294,319786.2906,320002.9710,216.6804,0.3340,0,0,0,0,1,0,1,0,0,0,0,0
238,239.0,136.0978,679.0942,320927.8649,321036.1571,108.2923,0.2399,0,0,0,0,1,0,1,0,0,0,0,0
239,240.0,211.6608,672.9129,321186.1365,321361.1608,175.0243,0.3050,0,0,0,0,1,0,1,0,0,0,0,0
240,241.0,314.7773,681.0555,321436.1652,321536.1001,99.9350,0.1919,0,0,0,0,1,0,1,0,0,0,0,0

[group 22]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
241,242.0,1438.0004,762.1250,325131.7683,325215.0905,83.3222,0.2900,0,0,0,0,0,0,0,0,1,0,1,0
242,243.0,1422.5404,771.9331,325290.0954,325581.7149,291.6196,0.2744,0,0,0,0,0,0,0,0,1,0,1,0
243,244.0,1471.2072,763.5313,325656.7259,326131.6495,474.9235,0.2986,0,0,0,0,0,0,0,0,1,0,1,0
244,245.0,1513.0656,760.0862,326248.3203,326531.6129,283.2926,0.2399,0,0,0,0,0,0,0,0,1,0,1,0
245,246.0,1480.4545,759.0455,326548.2976,326639.9611,91.6635,0.1618,0,0,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316,317.0,1547.1862,630.4059,351370.5236,351520.5147,149.9911,0.1462,0,0,0,0,0,0,0,0,1,0,1,0
317,318.0,1568.2994,596.1957,351553.8377,351662.1850,108.3474,0.2393,0,0,0,0,0,0,0,0,1,0,1,0
318,319.0,1567.5499,682.9278,351887.1711,352137.1005,249.9294,0.2914,0,0,0,0,0,0,0,0,1,0,1,0
319,320.0,1678.6107,746.8721,353178.6830,353278.7221,100.0391,0.1553,0,0,0,0,0,0,0,0,0,1,1,0
320,321.0,1688.5553,572.6391,353353.6314,353486.9521,133.3207,0.2613,0,0,0,0,0,0,0,0,0,1,1,0

[group 23]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
321,322.0,339.2176,607.8257,354020.2290,354228.5792,208.3502,0.2732,0,0,0,0,1,0,1,0,0,0,0,0
322,323.0,310.3608,689.8283,354745.2093,354903.4741,158.2648,0.3314,0,0,0,0,1,0,1,0,0,0,0,0
323,324.0,385.3326,682.0024,354920.1264,355011.7961,91.6697,0.1533,0,0,0,0,1,0,1,0,0,0,0,0
324,325.0,404.0010,708.0834,355036.8092,355111.8183,75.0091,0.1737,0,0,0,0,1,0,1,0,0,0,0,0
325,326.0,449.3412,707.0876,355195.1497,355286.7649,91.6152,0.2832,0,0,0,0,1,0,1,0,0,0,0,0
326,327.0,199.8333,706.7222,355995.0166,356070.0465,75.0299,0.2392,0,0,0,0,1,0,1,0,0,0,0,0
327,328.0,157.7205,721.6890,356169.9977,356328.3377,158.3400,0.2924,0,0,0,0,1,0,1,0,0,0,0,0
328,329.0,198.5080,721.5777,356344.9892,356636.6097,291.6205,0.2262,0,0,0,0,1,0,1,0,0,0,0,0
329,330.0,279.9447,720.7245,356661.5988,356761.6053,100.0065,0.2010,0,0,0,0,1,0,1,0,0,0,0,0
330,331.0,289.5958,724.4948,356853.2643,356936.5877,83.3234,0.1701,0,0,0,0,1,0,1,0,0,0,0,0
331,332.0,323.3103,709.5811,357019.8928,358003.1313,983.2385,0.3924,0,0,0,0,1,0,1,0,0,0,0,0
332,333.0,461.3916,716.3630,358303.1001,358603.0833,299.9833,0.3890,0,0,0,0,1,0,1,0,0,0,0,0

[group 24]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
333,334.0,1604.3495,485.3425,358769.7514,358919.6999,149.9485,0.3289,0,0,0,0,0,0,0,0,0,1,1,0

[group 25]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
334,335.0,681.4204,182.1608,360286.1997,360469.5256,183.3260,0.2086,0,1,0,0,0,0,1,0,0,0,0,0
335,336.0,162.8334,607.6667,360986.1220,361052.7950,66.6730,0.0904,0,0,0,0,1,0,1,0,0,0,0,0
336,337.0,634.0410,193.1390,362844.2627,363019.2292,174.9665,0.1953,0,1,0,0,0,0,1,0,0,0,0,0
337,338.0,179.3371,255.9496,363169.2128,363269.2430,100.0303,0.2355,1,0,0,0,0,0,1,0,0,0,0,0
338,339.0,152.7482,524.8734,364765.6453,364848.9474,83.3021,0.2204,0,0,1,0,0,0,1,0,0,0,0,0
339,340.0,134.7570,570.8218,364932.3412,365057.2708,124.9296,0.4095,0,0,0,0,0,0,1,0,0,0,0,0

[group 26]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
340,341.0,1556.5509,508.9744,365215.5764,365398.8927,183.3162,0.2187,0,0,0,0,0,0,0,0,1,0,1,0
341,342.0,1680.5361,502.8926,365423.8889,365598.8940,175.0050,0.1447,0,0,0,0,0,0,0,0,0,1,1,0
342,343.0,1665.9016,418.1308,365615.5371,365765.5132,149.9761,0.2641,0,0,0,0,0,0,0,0,0,1,1,0
343,344.0,1638.8260,421.6303,365815.5192,366057.1739,241.6547,0.1610,0,0,0,0,0,0,0,0,0,1,1,0
344,345.0,1668.2102,445.2633,366082.1763,366282.1378,199.9615,0.1848,0,0,0,0,0,0,0,0,0,1,1,0
345,346.0,1636.4789,410.3197,366340.4809,366598.7613,258.2804,0.2215,0,0,0,0,0,0,0,0,0,1,1,0
346,347.0,1671.2487,442.1386,366615.4413,366907.0894,291.6481,0.2378,0,0,0,0,0,0,0,0,0,1,1,0
347,348.0,1693.9242,486.8000,366915.4658,367165.3607,249.8949,0.3357,0,0,0,0,0,0,0,0,0,1,1,0
348,349.0,1702.8074,517.4509,367173.6928,367698.6312,524.9385,0.2869,0,0,0,0,0,0,0,0,0,1,1,0
349,350.0,1682.3381,536.8360,367715.3442,368006.9361,291.5920,0.1963,0,0,0,0,0,0,0,0,0,1,1,0
350,351.0,1719.9186,544.8445,368023.6537,368381.9031,358.2493,0.3292,0,0,0,0,0,0,0,0,0,1,1,0

[group 27]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
351,352.0,320.908,722.2284,368865.1865,368981.8370,116.6505,0.2316,0,0,0,0,1,0,1,0,0,0,0,0
352,353.0,411.108,711.5874,369056.8866,369215.1342,158.2476,0.1984,0,0,0,0,1,0,1,0,0,0,0,0

[group 28]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
353,354.0,1720.8750,412.7500,369565.1125,369631.8079,66.6954,0.2744,0,0,0,0,0,0,0,0,0,1,1,0
354,355.0,1699.3623,500.7488,370348.3410,370490.0334,141.6924,0.2599,0,0,0,0,0,0,0,0,0,1,1,0
355,356.0,1662.6875,458.3125,371877.9548,371944.5900,66.6352,0.1240,0,0,0,0,0,0,0,0,0,1,1,0
356,357.0,1661.4939,458.5800,372044.5448,372319.5057,274.9609,0.1868,0,0,0,0,0,0,0,0,0,1,1,0
357,358.0,1706.9971,522.9677,372344.5228,373136.0831,791.5603,0.3646,0,0,0,0,0,0,0,0,0,1,1,0
358,359.0,1757.4704,538.4600,373152.7473,373344.3916,191.6443,0.3909,0,0,0,0,0,0,0,0,0,1,1,0
359,360.0,1715.7500,513.2500,373352.7253,373536.0552,183.3300,0.1823,0,0,0,0,0,0,0,0,0,1,1,0
360,361.0,1671.0661,486.9930,373552.7172,373677.6992,124.9819,0.2516,0,0,0,0,0,0,0,0,0,1,1,0
361,362.0,1676.9482,459.3449,373694.3533,373960.9901,266.6368,0.3411,0,0,0,0,0,0,0,0,0,1,1,0
362,363.0,1715.9811,465.7078,374002.6527,374252.6260,249.9733,0.2904,0,0,0,0,0,0,0,0,0,1,1,0
363,364.0,1649.6410,481.8980,374269.2913,374785.9021,516.6108,0.3653,0,0,0,0,0,0,0,0,0,1,1,0
364,365.0,1662.3000,447.0333,374794.2338,374919.2181,124.9843,0.2409,0,0,0,0,0,0,0,0,0,1,1,0
365,366.0,1692.7700,469.8817,374935.8969,375110.8660,174.9690,0.3207,0,0,0,0,0,0,0,0,0,1,1,0
366,367.0,1719.1041,470.6250,375119.1974,375335.8409,216.6435,0.2854,0,0,0,0,0,0,0,0,0,1,1,0
367,368.0,1690.3780,462.1831,375352.5412,375435.8299,83.2888,0.2550,0,0,0,0,0,0,0,0,0,1,1,0
368,369.0,1689.0000,423.5455,375519.1997,375610.8577,91.6580,0.1031,0,0,0,0,0,0,0,0,0,1,1,0
369,370.0,1715.5625,417.0000,375627.4975,375694.1361,66.6386,0.2800,0,0,0,0,0,0,0,0,0,1,1,0
370,371.0,1697.8751,584.4376,375852.4486,375952.4400,99.9914,0.1766,0,0,0,0,0,0,0,0,0,1,1,0
371,372.0,1661.0865,611.7761,375985.7703,376227.4085,241.6383,0.3984,0,0,0,0,0,0,0,0,0,1,1,0
372,373.0,1712.2359,525.4458,377702.2454,378027.2079,324.9624,0.4033,0,0,0,0,0,0,0,0,0,1,1,0
373,374.0,1702.3350,452.5020,378210.5218,378552.1521,341.6303,0.3428,0,0,0,0,0,0,0,0,0,1,1,0
374,375.0,1725.5153,471.9349,378677.1376,378943.7765,266.6388,0.3456,0,0,0,0,0,0,0,0,0,1,1,0
375,376.0,1697.1979,620.5045,379235.4094,379302.0658,66.6564,0.1651,0,0,0,0,0,0,0,0,0,1,1,0
376,377.0,1504.3710,492.6901,379777.0184,379926.9993,149.9809,0.2567,0,0,0,0,0,0,0,0,1,0,1,0
377,378.0,1626.5057,638.4997,380418.6536,380510.2688,91.6152,0.1729,0,0,0,0,0,0,0,0,0,1,1,0
378,379.0,1688.8508,519.1939,381151.8787,381426.8367,274.9580,0.2693,0,0,0,0,0,0,0,0,0,1,1,0
379,380.0,1697.0932,608.1122,384395.5438,384670.5197,274.9759,0.1905,0,0,0,0,0,0,0,0,0,1,1,0
380,381.0,1625.5560,628.4521,384695.5134,384920.4979,224.9845,0.2389,0,0,0,0,0,0,0,0,0,1,1,0
381,382.0,1494.0377,754.2130,385478.7571,385612.1127,133.3556,0.2750,0,0,0,0,0,0,0,0,1,0,1,0
382,383.0,1681.5293,578.5625,386020.3811,386270.3360,249.9549,0.3425,0,0,0,0,0,0,0,0,0,1,1,0
383,384.0,1647.2002,610.7500,386328.7064,386436.9955,108.2891,0.2462,0,0,0,0,0,0,0,0,0,1,1,0
384,385.0,1643.8964,606.9027,386520.3103,386586.9705,66.6602,0.1076,0,0,0,0,0,0,0,0,0,1,1,0
385,386.0,1689.3215,492.7857,386786.9844,386928.6333,141.6488,0.1620,0,0,0,0,0,0,0,0,0,1,1,0
386,387.0,1709.1991,448.1850,386995.2989,387086.9158,91.6169,0.4949,0,0,0,0,0,0,0,0,0,1,1,0
387,388.0,1655.1670,434.4441,387503.5501,387620.1965,116.6464,0.1432,0,0,0,0,0,0,0,0,0,1,1,0
388,389.0,1683.6653,482.0020,387703.5114,387778.5021,74.9907,0.1732,0,0,0,0,0,0,0,0,0,1,1,0
389,390.0,1712.6876,521.3762,387911.8206,388020.1627,108.3421,0.2685,0,0,0,0,0,0,0,0,0,1,1,0
390,391.0,1693.8125,551.3124,388045.1393,388161.8096,116.6702,0.2721,0,0,0,0,0,0,0,0,0,1,1,0
391,392.0,1682.1658,601.8475,388195.1596,388278.4465,83.2869,0.5078,0,0,0,0,0,0,0,0,0,1,1,0
392,393.0,1697.4011,608.3947,391841.5017,391991.4923,149.9905,0.2777,0,0,0,0,0,0,0,0,0,1,1,0

[group 29]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
393,394.0,436.5728,808.2856,395454.6277,395546.2956,91.6679,0.2214,0,0,0,0,0,1,1,0,0,0,0,0
394,395.0,807.4044,819.6478,396196.2279,396304.5365,108.3086,0.1309,0,0,0,0,0,1,1,0,0,0,0,0
395,396.0,208.6058,846.9632,397012.7938,397429.4062,416.6124,0.2709,0,0,0,0,0,1,1,0,0,0,0,0
396,397.0,337.1723,863.8553,397562.7262,397746.0400,183.3138,0.4063,0,0,0,0,0,1,1,0,0,0,0,0
397,398.0,414.0532,837.3325,397904.3710,398004.3434,99.9724,0.3691,0,0,0,0,0,1,1,0,0,0,0,0

[group 30]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
398,399.0,1604.8583,721.5475,399395.8614,399520.8821,125.0207,0.2453,0,0,0,0,0,0,0,0,0,1,1,0

[group 31]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
399,400.0,372.5000,828.9000,399654.1959,399737.5056,83.3097,0.2464,0,0,0,0,0,1,1,0,0,0,0,0
400,401.0,260.1250,795.4582,399804.1460,399954.1802,150.0342,0.1484,0,0,0,0,0,0,1,0,0,0,0,0
401,402.0,206.8185,820.5643,400179.1125,400370.7564,191.6439,0.2566,0,0,0,0,0,1,1,0,0,0,0,0

[group 32]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
402,403.0,1769.2057,547.5573,400487.4161,400704.0781,216.6619,0.3493,0,0,0,0,0,0,0,0,0,1,1,0
403,404.0,1683.1000,519.6000,400737.4059,400820.7284,83.3225,0.1818,0,0,0,0,0,0,0,0,0,1,1,0

[group 33]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
404,405.0,866.6217,823.2487,403078.8185,403170.4625,91.6440,0.1390,0,0,0,0,0,1,1,0,0,0,0,0
405,406.0,746.6044,825.1054,408853.1780,408978.1445,124.9665,0.1746,0,0,0,0,0,1,1,0,0,0,0,0
406,407.0,745.8791,822.3277,409053.1837,409211.4408,158.2571,0.2720,0,0,0,0,0,1,1,0,0,0,0,0
407,408.0,694.1443,825.4296,409236.5083,409361.4456,124.9373,0.0842,0,0,0,0,0,1,1,0,0,0,0,0
408,409.0,587.7693,799.3576,409594.7402,409719.7538,125.0136,0.6494,0,0,0,0,0,1,1,0,0,0,0,0
409,410.0,524.1248,811.3743,409986.3552,410053.0275,66.6724,0.1535,0,0,0,0,0,1,1,0,0,0,0,0
410,411.0,715.3659,810.0812,410369.6476,410602.9712,233.3236,0.2833,0,0,0,0,0,1,1,0,0,0,0,0
411,412.0,808.7513,827.1769,410761.3220,410986.2438,224.9217,0.3868,0,0,0,0,0,1,1,0,0,0,0,0
412,413.0,913.6057,828.4670,411102.8988,411302.8938,199.9950,0.2491,0,0,0,0,0,1,1,0,0,0,0,0

[group 34]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
413,414.0,1312.7519,614.5001,436825.0699,436900.0511,74.9812,0.1654,0,0,0,0,0,0,0,1,0,0,1,0
414,415.0,1495.8808,736.8415,451061.6120,451219.9229,158.3109,0.3235,0,0,0,0,0,0,0,0,1,0,1,0
415,416.0,1485.1297,748.4640,451303.2681,451611.5593,308.2912,0.1918,0,0,0,0,0,0,0,0,1,0,1,0
416,417.0,1482.1513,759.3985,451853.2120,451961.5255,108.3135,0.1361,0,0,0,0,0,0,0,0,1,0,1,0
417,418.0,1475.0000,784.7858,452319.8005,452511.4476,191.6471,0.2716,0,0,0,0,0,0,0,0,1,0,1,0
418,419.0,1442.7953,760.3224,452544.7778,452861.4111,316.6333,0.2792,0,0,0,0,0,0,0,0,1,0,1,0
419,420.0,1703.0434,779.2459,452978.0919,453186.3876,208.2957,0.2746,0,0,0,0,0,0,0,0,0,1,1,0

[group 35]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
420,421.0,247.9998,685.0457,453911.3639,454069.6101,158.2462,0.1824,0,0,0,0,1,0,1,0,0,0,0,0
421,422.0,190.5354,607.1801,454119.6051,454469.5925,349.9874,0.3052,0,0,0,0,1,0,1,0,0,0,0,0

[group 36]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
422,423.0,1519.1250,723.1875,455327.8038,455394.4809,66.6771,0.2364,0,0,0,0,0,0,0,0,1,0,1,0
423,424.0,1710.5556,505.8333,457299.3475,457374.3370,74.9896,0.1466,0,0,0,0,0,0,0,0,0,1,1,0

[group 37]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
424,425.0,657.3329,366.8338,460128.5416,460220.2131,91.6715,0.1334,0,0,0,0,0,0,1,0,0,0,0,0
425,426.0,681.6410,222.0003,460328.5256,460461.8304,133.3047,0.2955,0,1,0,0,0,0,1,0,0,0,0,0
426,427.0,196.4291,424.9989,460553.5053,460886.7860,333.2807,0.2926,0,0,1,0,0,0,1,0,0,0,0,0
427,428.0,168.9851,491.1911,460953.4411,461253.4014,299.9603,0.3138,0,0,1,0,0,0,1,0,0,0,0,0

[group 38]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
428,429.0,1393.6466,232.0286,461595.0564,461786.7234,191.6670,0.2105,0,0,0,0,0,0,0,0,0,0,0,1
429,430.0,1305.8203,205.4351,461803.3559,461961.6667,158.3107,0.2551,0,0,0,0,0,0,0,0,0,0,0,1
430,431.0,1579.1958,227.7136,462086.6497,462253.2897,166.6400,0.3733,0,0,0,0,0,0,0,0,0,0,0,1
431,432.0,1383.1400,273.0600,462728.2520,462936.5494,208.2974,0.2374,0,0,0,0,0,0,0,0,0,0,0,1
432,433.0,1320.5347,223.5956,462961.5472,463411.5315,449.9843,0.2688,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545,546.0,1284.2194,382.6332,503890.3691,504098.6816,208.3125,0.1603,0,0,0,0,0,0,0,1,0,0,1,0
546,547.0,1502.0459,400.9053,504432.0191,504715.3627,283.3436,0.2150,0,0,0,0,0,0,0,0,1,0,1,0
547,548.0,1692.9673,400.8961,505515.1883,505765.1737,249.9854,0.1913,0,0,0,0,0,0,0,0,0,1,1,0
548,549.0,1722.4976,474.8149,505798.4850,506098.4692,299.9843,0.2847,0,0,0,0,0,0,0,0,0,1,1,0
549,550.0,1465.4636,229.3927,506148.4894,506298.4326,149.9433,0.2462,0,0,0,0,0,0,0,0,0,0,0,1

[group 39]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
550,551.0,692.6540,259.4450,506356.7591,506423.4180,66.6589,0.2500,0,1,0,0,0,0,1,0,0,0,0,0
551,552.0,661.9447,208.9460,506540.1000,506673.4062,133.3062,0.1545,0,1,0,0,0,0,1,0,0,0,0,0
552,553.0,257.7143,231.3570,506798.3794,506965.0425,166.6631,0.2213,1,0,0,0,0,0,1,0,0,0,0,0
553,554.0,659.7778,467.7778,508095.3084,508170.2909,74.9826,0.2076,0,0,0,1,0,0,1,0,0,0,0,0
554,555.0,579.3611,178.5833,508386.9241,508536.9228,149.9987,0.1899,0,1,0,0,0,0,1,0,0,0,0,0
555,556.0,213.5194,201.9365,508620.2529,508861.9060,241.6531,0.2861,1,0,0,0,0,0,1,0,0,0,0,0
556,557.0,298.3518,176.2522,508903.5659,509020.2090,116.6431,0.2248,1,0,0,0,0,0,1,0,0,0,0,0
557,558.0,312.0404,693.2659,509111.8549,509236.8431,124.9882,0.2602,0,0,0,0,1,0,1,0,0,0,0,0
558,559.0,168.3077,840.5744,509378.4962,509611.8252,233.3290,0.3436,0,0,0,0,0,1,1,0,0,0,0,0
559,560.0,236.9259,820.0744,509661.8508,509853.4492,191.5983,0.2444,0,0,0,0,0,1,1,0,0,0,0,0
560,561.0,348.3486,826.1509,509928.4198,510028.4243,100.0045,0.2996,0,0,0,0,0,1,1,0,0,0,0,0
561,562.0,506.5312,824.0000,510145.0768,510278.3791,133.3024,0.2753,0,0,0,0,0,1,1,0,0,0,0,0
562,563.0,732.8652,831.7281,510420.0544,510628.3593,208.3049,0.3320,0,0,0,0,0,1,1,0,0,0,0,0
563,564.0,196.6249,806.5004,510728.3651,510794.9979,66.6328,0.2343,0,0,0,0,0,1,1,0,0,0,0,0
564,565.0,205.3577,823.0963,510878.3136,511136.6391,258.3255,0.2681,0,0,0,0,0,1,1,0,0,0,0,0
565,566.0,289.7431,616.7015,511219.9609,511369.9435,149.9826,0.3561,0,0,0,0,1,0,1,0,0,0,0,0
566,567.0,666.8609,459.4109,511436.5915,511878.2688,441.6774,0.3247,0,0,0,1,0,0,1,0,0,0,0,0
567,568.0,863.4162,469.0009,511919.9024,512019.8599,99.9574,0.2075,0,0,0,1,0,0,1,0,0,0,0,0

[group 40]

,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula
568,569.0,1275.5329,469.3859,512069.8490,512311.4909,241.6419,0.3457,0,0,0,0,0,0,0,1,0,0,1,0
569,570.0,1422.3558,432.4423,512344.8194,512644.8059,299.9866,0.2192,0,0,0,0,0,0,0,0,1,0,1,0
570,571.0,1539.7246,413.0032,512669.8077,512869.7900,199.9822,0.2301,0,0,0,0,0,0,0,0,1,0,1,0
571,572.0,1668.5437,419.9558,512903.1218,513103.0798,199.9580,0.2457,0,0,0,0,0,0,0,0,0,1,1,0
572,573.0,1496.5625,306.5784,513353.0393,513586.3778,233.3385,0.2250,0,0,0,0,0,0,0,0,0,0,0,1
573,574.0,1223.7782,632.4227,516852.7076,517769.2217,916.5141,0.2980,0,0,0,0,0,0,0,1,0,0,1,0