In [1]:
import pandas as pd

In [2]:
# A list containing the AOIs considered in the study
AOIS = ['Paragraph1', 'Paragraph2', 'Paragraph3', 'Paragraph4',
       'Paragraph5', 'Paragraph6', 'Text_Area', 'SubFigure1', 'SubFigure2',
       'SubFigure3', 'Figure', 'Formula']

In [3]:
# 1. AOI fixation measures

In [4]:
# Read fixation data with AOIs using pandas library
fixationData = pd.read_csv("data/fixationDataWithAOIs.csv")
# set display.max_columns to none, to show all the columns when using head()
pd.set_option('display.max_columns', None)

In [5]:
allAOIFixationStats = None

# Metrics for all AOIs aggregated

# Compute different aggregations for different metrics 
stats = fixationData.agg({'Fixation Duration':['sum','mean','max','min'], 'FixID':['count']}).unstack().to_frame().dropna().T

# edit stats formatting (by flattening it) to enable concating with the upcoming mesures
stats.columns = ['_'.join(x) for x in list(zip(stats.columns.get_level_values(0), stats.columns.get_level_values(1)))]

stats.insert(0, 'AOI', "All_AOIs")

allAOIFixationStats= stats

In [6]:
# Display the metrics for all AOIs aggregated
display(allAOIFixationStats)

,AOI,Fixation Duration_max,Fixation Duration_mean,Fixation Duration_min,Fixation Duration_sum,FixID_count
0,All_AOIs,1249.8835,211.938128,66.5842,121652.4855,574.0

In [7]:
# Metrics for individual AOIs

# Iterate through the different AOIS
for aoi in AOIS:
    # Compute different aggregations for different metrics 
    stats = fixationData[fixationData[aoi]==1].groupby(aoi).agg({'Fixation Duration':['sum','mean','max','min'],'FixID':['count']})
    
    # Flatten dataframe
    stats.columns= ['_'.join(x) for x in list(zip(stats.columns.get_level_values(0), stats.columns.get_level_values(1)))]
    
    # rename column aoi to "AOI" and set its value to aoi     
    stats.rename(columns={aoi:"AOI"}, inplace=True)
    stats["AOI"] = aoi
    
    #concate
    allAOIFixationStats = pd.concat([allAOIFixationStats, stats], axis=0)
    
# reset_index for allAOIFixationStats
allAOIFixationStats = allAOIFixationStats.reset_index(drop=True)

In [8]:
# Display the metrics for all AOIs individually and aggregated
display(allAOIFixationStats)

,AOI,Fixation Duration_max,Fixation Duration_mean,Fixation Duration_min,Fixation Duration_sum,FixID_count
0,All_AOIs,1249.8835,211.938128,66.5842,121652.4855,574.0
1,Paragraph1,574.8980,234.164400,66.6901,15923.1792,68.0
2,Paragraph2,183.3260,140.460357,66.6589,983.2225,7.0
3,Paragraph3,449.9495,253.757464,83.3021,5582.6642,22.0
4,Paragraph4,441.6774,155.939343,66.6725,1091.5754,7.0
5,Paragraph5,983.2385,176.806554,66.6587,7249.0687,41.0
6,Paragraph6,416.6124,161.567709,66.6328,3716.0573,23.0
7,Text_Area,983.2385,203.608859,66.6328,35020.7237,172.0
8,SubFigure1,916.5141,216.204068,66.6282,16647.7132,77.0
9,SubFigure2,1124.8921,215.932089,66.6423,32821.6776,152.0
10,SubFigure3,1249.8835,197.166020,66.6352,16956.2777,86.0
11,Figure,1249.8835,211.761606,66.6282,67975.4754,321.0
12,Formula,1199.8863,239.500495,66.5842,17723.0366,74.0

In [9]:
# 2. AOI visit measures

In [10]:
# Read aoi visits data using pandas library
visitsData = pd.read_csv("data/aoiVisits.csv")
# set display.max_columns to none, to show all the columns when using head()
pd.set_option('display.max_columns', None)

In [11]:
# Preview VisitsData
visitsData.head()

   VisitedAOI  Visit Start   Visit End  Visit Duration  Number of Fixations
0  Paragraph1     566.4076    708.1011        141.6935                    1
1  Paragraph1     908.0385   6932.3649       6024.3264                   21
2  Paragraph1    7440.6303  16681.3359       9240.7056                   29
3  Paragraph1   22055.6743  22288.9826        233.3083                    1
4  Paragraph1   22922.2660  23138.9011        216.6351                    1

In [12]:
# Metrics for all AOIs aggregated

# Compute different aggregations for different metrics 
visitStats = visitsData.groupby('VisitedAOI').agg({'Visit Duration':['sum','mean','max','min','count'], 'Number of Fixations':['sum','mean','max','min','count']})

In [13]:
# Display visitStats
display(visitStats)

           Visit Duration                                           \
                      sum         mean         max       min count
VisitedAOI
Figure        162954.2018  7084.965296  28355.1838  125.0207    23
Formula        26735.6657  2430.515064  13320.4371   74.9969    11
Paragraph1     33638.0733  3363.807330  17039.7903   74.9647    10
Paragraph2      1099.9044   183.317400    316.6471  133.3048     6
Paragraph3      6374.2779  1274.855580   5274.4521   83.3021     5
Paragraph4      5332.7113  1333.177825   4449.4870   74.9825     4
Paragraph5     24638.8590  2053.238250  16239.8632   66.6730    12
Paragraph6     12806.8875  2561.377500   8224.0753   83.3097     5
SubFigure1     23455.4124  1066.155109   5124.4311   66.6406    22
SubFigure2     73800.5060  2838.481000  22005.8498   66.6771    26
SubFigure3     33758.4330  1607.544429   9736.9533   74.9895    21
Text_Area     123063.2975  6153.164875  36429.3015   74.9632    20

           Number of Fixations
                           sum       mean max min count
VisitedAOI
Figure                     321  13.956522  80   1    23
Formula                     74   6.727273  24   1    11
Paragraph1                  68   6.800000  29   1    10
Paragraph2                   7   1.166667   2   1     6
Paragraph3                  22   4.400000  16   1     5
Paragraph4                   7   1.750000   3   1     4
Paragraph5                  41   3.416667  12   1    12
Paragraph6                  23   4.600000   9   1     5
SubFigure1                  77   3.500000  13   1    22
SubFigure2                 152   5.846154  65   1    26
SubFigure3                  86   4.095238  23   1    21
Text_Area                  172   8.600000  46   1    20