In [5]:
import pandas as pd

In [6]:
#----------------------------------------------------------------------------------------
#
#
# 1. Identify Dwells
# ("a dwell is defined as one visit in an AOI, from entry to exit" Holmqvist et al. 2010, page 262 - See book reference in lecture slides)
# 
#
#----------------------------------------------------------------------------------------

In [7]:
# A list containing the AOIs considered in the study --- **TO UPDATE IF YOU UPDATE THE AOIs**
AOIS = ['Paragraph1', 'Paragraph2', 'Paragraph3', 'Paragraph4',
       'Paragraph5', 'Paragraph6', 'Text_Area', 'SubFigure1', 'SubFigure2',
       'SubFigure3', 'Figure', 'Formula']

In [11]:
# Read fixation and saccade data with AOIs using pandas library
data = pd.read_csv('data/fixationAndSaccadesDataWithAOIs.csv')
# set display.max_columns to none, to show all the columns when using head()
pd.set_option('display.max_columns', None)

In [12]:
# Preview fixation and saccade data with AOIs
data.head()

,Respondent,FixID,Fixation X,Fixation Y,Fixation Start,Fixation End,Fixation Duration,Fixation Dispersion,SacID,Saccade Start,Saccade End,Saccade Duration,Saccade Amplitude,Saccade Peak Velocity,Saccade Peak Acceleration,Saccade Peak Deceleration,Saccade Direction,Paragraph1,Paragraph2,Paragraph3,Paragraph4,Paragraph5,Paragraph6,Text_Area,SubFigure1,SubFigure2,SubFigure3,Figure,Formula,Timestamp
0,Anonymous 14-11-22 09h35m,1.0,947.6560,491.5955,133.1086,358.0820,224.9734,0.3205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0,0,0,137.2724
1,Anonymous 14-11-22 09h35m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,358.0820,433.0785,74.9965,5.6844,148.4457,9324.2426,-9634.6219,203.9321,0,0,0,1,0,0,1,0,0,0,0,0,362.2460
2,Anonymous 14-11-22 09h35m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,474.7339,491.4003,16.6664,0.6259,59.9309,4718.1428,-1362.1590,84.5597,0,0,0,0,0,0,1,0,0,0,0,0,478.8990
3,Anonymous 14-11-22 09h35m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,516.3954,566.4076,50.0122,6.6098,200.9994,8268.0361,-10127.0766,225.0000,0,0,0,0,0,0,1,0,0,0,0,0,520.5610
4,Anonymous 14-11-22 09h35m,2.0,460.5417,172.5694,566.4076,716.4244,150.0168,0.1536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,0,1,0,0,0,0,0,570.5892

In [13]:
# Derive dwells

In [14]:
dwells = pd.DataFrame()

# Iterate through the different AOIS
for aoi in AOIS:
    
    #  Group by consecutive same value (CSAV) and Respondent (i.e., participant)
    # documentation for the aprroach used to group columns by consecutive same value https://towardsdatascience.com/pandas-dataframe-group-by-consecutive-same-values-128913875dba
    csavGroups = data.groupby([(data[aoi].shift() != data[aoi]).cumsum(),'Respondent'])
    
    # Keep only groups where the AOI is activited (aoiName==1) 
    csavGroups = {key: value for key, value in csavGroups if value[aoi].unique()==[1]}
    
    # compute a set of metrics for each dwell (i.e., a group where the AOI is activiated)     
    for key in csavGroups:
        group = csavGroups[key]
                
        dwells = pd.concat([dwells, pd.DataFrame.from_records([{
            # Participant (i.e., Respondent)
            'Respondent': group.iloc[0]['Respondent'], #The respondent should be the same within the whole group
            # The aoi visited during the dwell
            'VisitedAOI': aoi,
            # Timestamp when the aoi was entered
            'Dwell Start': group.iloc[0]['Fixation Start'] if not pd.isnull(group.iloc[0]['Fixation Start']) else group.iloc[0]['Saccade Start'],
            # Timestamp when the aoi was exited
            'Dwell End' : group.iloc[-1]['Fixation End'] if not pd.isnull(group.iloc[-1]['Fixation End']) else group.iloc[-1]['Saccade End'] ,
            # Number of Fixations in Dwell (Numerosity measure, cf. documentation/ETmetrics.csv)
            'Number of Fixations in Dwell': group[ (group['FixID'].notnull()) ].shape[0],
            # Number of Saccades in Dwell (Numerosity measure, cf. documentation/ETmetrics.csv)
            'Number of Saccades in Dwell': group[ (group['SacID'].notnull()) ].shape[0]
        }])])

In [15]:
# Dwell time (Position measure, cf. documentation/ETmetrics.csv)
dwells['Dwell Time'] = dwells['Dwell End']-dwells['Dwell Start']

In [16]:
#Sort dwells by 'Respondent', Dwell Start' in an ascending order
dwells = dwells.sort_values(by=['Respondent','Dwell Start'])

#Reset index
dwells = dwells.reset_index(drop=True)

In [17]:
#Preview dwells
dwells.head()

,Respondent,VisitedAOI,Dwell Start,Dwell End,Number of Fixations in Dwell,Number of Saccades in Dwell,Dwell Time
0,Anonymous 14-11-22 09h35m,Paragraph4,133.1086,433.0785,1,1,299.9699
1,Anonymous 14-11-22 09h35m,Text_Area,133.1086,783.0360,2,4,649.9274
2,Anonymous 14-11-22 09h35m,Paragraph1,566.4076,716.4244,1,0,150.0168
3,Anonymous 14-11-22 09h35m,Paragraph1,899.6993,6957.3621,23,22,6057.6628
4,Anonymous 14-11-22 09h35m,Text_Area,899.6993,6957.3621,23,22,6057.6628

In [ ]:
# export dwells to csv
dwells.to_csv("data/dwells.csv",  index=False)